table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
  }
  
  ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 20px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .rounded-div {
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  