@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

/* Adding backup fonts */
#paragraph1 {
    font-family: 'Roboto', Arial, sans-serif;
}

#paragraph2 {
    font-family: 'Lobster', cursive, sans-serif;
}

#paragraph3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
}
